{% extends "base_bootstrap.html" %}

{% block content %}
    <div class="container">

		<div class="row">
			<div class="span1">
			</div>
			<div class="span10">
								<h2>About me and Canada:</h2>
				<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner" style="text-align: center;">
					  <div class="item active">
						<img  style="display:inline-block; width: 90%; height: 80%; position: relative; top: 0; left: 0;" src="./static/img/great_white_north.jpg" alt="">
						<div class="carousel-caption">
						  <h4>Where I live</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 90%; height: 80%; position: relative; top: 0; left: 0;" src="./static/img/my_winter_house.jpg" alt="">
						<div class="carousel-caption">
						  <h4>My House in Winter</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 90%; height: 80%; position: relative; top: 0; left: 0;" src="./static/img/my_summer_house.png" alt="">
						<div class="carousel-caption">
						  <h4>My House in Summer</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 40%; height: 40%; position: relative; top: 0; left: 0;" src="./static/img/my_new_master_bedroom.jpg" alt="">
						<div class="carousel-caption">
						  <h4>My new master bedroom.</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 40%; height: 40%; position: relative; top: 0; left: 0;" src="./static/img/my_small_kitchen.jpg" alt="">
						<div class="carousel-caption">
						  <h4>My small but functional kitchen.</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 90%; height: 80%; position: relative; top: 0; left: 0;" src="./static/img/upscale_home.jpeg" alt="">
						<div class="carousel-caption">
						  <h4>I'm saving up to buy to this upscale home</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 90%; height: 80%; position: relative; top: 0; left: 0;" src="./static/img/my_neighborhood.jpg" alt="">
						<div class="carousel-caption">
						  <h4>I'n this upscale neighborhood</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 90%; height: 80%; position: relative; top: 0; left: 0;" src="./static/img/my_hot_neighbor.jpg" alt="">
						<div class="carousel-caption">
						  <h4>My hot neighbor getting something from the shed.</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 90%; height: 80%; position: relative; top: 0; left: 0;" src="./static/img/canadian_airforce.jpg" alt="">
						<div class="carousel-caption">
						  <h4>Canada's Airforce is called the Snowbirds.</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 90%; height: 80%; position: relative; top: 0; left: 0;" src="./static/img/airforce_women.jpg" alt="">
						<div class="carousel-caption">
						  <h4>All airforce pilots in Canada are women.  These super-sexy-flygals protect our great nation.</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 90%; height: 80%; position: relative; top: 0; left: 0;" src="./static/img/pilots.jpg" alt="">
						<div class="carousel-caption">
						  <h4>Here, my ace pilot wife is training my daughter, who is now a young cadet in the airforce.</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 90%; height: 80%; position: relative; top: 0; left: 0;" src="./static/img/geforce_training.jpg" alt="">
						<div class="carousel-caption">
						  <h4>Geforce simulator is required for pilots and cadets alike to prepare for the rigors of flight.</h4>
						</div>
					  </div>				  
					  <div class="item">
						<img style="display:inline-block; width: 90%; height: 80%; position: relative; top: 0; left: 0;" src="./static/img/instrumentation.jpg" alt="">
						<div class="carousel-caption">
						  <h4>Farmville gives our women pilots multitasking skills to deal with complex instrument panels.</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 90%; height: 80%; position: relative; top: 0; left: 0;" src="./static/img/near_miss.jpg" alt="">
						<div class="carousel-caption">
						  <h4>Unfortunately, looking super sexy is even more important to our flygals than flying. Here is a near miss that occured after Dior released its new Dior Blush.  You just can't hold the flight control stick while applying the Blush.</h4>
						</div>
					  </div>						
					  <div class="item">
						<img class="cImg" style="display:inline-block;" src="https://lh5.googleusercontent.com/-X1XVzlVezTc/TnUWAWa8DfI/AAAAAAAAAGI/DdUhvEVDTIg/s732/DSC_0262.jpg" alt="">
						<div class="carousel-caption">
						  <h4>My Family</h4>
						</div>
					  </div>
					</div>
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>
			</div>
			<div class="span1">
			</div>
		</div>
		<hr>
</div>

{% endblock %}