{% extends "base_bootstrap.html" %}

{% block content %}
    <div class="container">
		<div class="hero-unit" style="background-image: url(./static/img/canada_background.png)">
			<!--<img src="./static/img/canada_background.png">Test image</img>-->
			<h1>You have reached the blog of a <del>Canadian</del> Ken-eh-dian.<br></h1>
			<h2>Welcome to my site eh!... <br></h2>
			<p>This blog provides perspectives on technology and society from the Great White North.<br></p>
			<p><a class="btn btn-inverse btn-large" href="/about">Learn more <del>aboot</del> about me &raquo;</a></p>
		</div>
		<div class="row">
			<div class="span3">
			  <h2>About this blog and stuff...</h2>
			   <p>This blog provides perspectives on technology and society from a Canadian engineer. This site was created as part of 
			   a Udacity 253 course on Web Application Engineering.  The primary project in the course is the creation of a 
			   blog which stores its data in the cloud and provides secure access.</p>
			  <p><a class="btn btn-warning" href="/blog">Take a look &raquo;</a></p>
			</div>
			<div class="span5">
				<h2>About me and Canada <a href="./about"> (larger)</a>:</h2>
				<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner" style="text-align: center;">
					  <div class="item active">
						<img  style="display:inline-block; width: 100%; height: 100%; position: relative; top: 0; left: 0;" src="./static/img/great_white_north.jpg" alt="">
						<div class="carousel-caption">
						  <h4>Where I live</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 100%; height: 100%; position: relative; top: 0; left: 0;" src="./static/img/my_winter_house.jpg" alt="">
						<div class="carousel-caption">
						  <h4>My House in Winter</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 100%; height: 100%; position: relative; top: 0; left: 0;" src="./static/img/my_summer_house.png" alt="">
						<div class="carousel-caption">
						  <h4>My House in Summer</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 50%; height: 50%; position: relative; top: 0; left: 0;" src="./static/img/my_new_master_bedroom.jpg" alt="">
						<div class="carousel-caption">
						  <h4>My new master bedroom.</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 50%; height: 50%; position: relative; top: 0; left: 0;" src="./static/img/my_small_kitchen.jpg" alt="">
						<div class="carousel-caption">
						  <h4>My small but functional kitchen.</h4>
						</div>
					  </div>
					   <div class="item">
						<img style="display:inline-block; width: 90%; height: 90%; position: relative; top: 0; left: 0;" src="./static/img/upscale_home.jpeg" alt="">
						<div class="carousel-caption">
						  <h4>I'm saving up to buy to this upscale home</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 90%; height: 90%; position: relative; top: 0; left: 0;" src="./static/img/my_neighborhood.jpg" alt="">
						<div class="carousel-caption">
						  <h4>I'n this upscale neighborhood</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 100%; height: 100%; position: relative; top: 0; left: 0;" src="./static/img/my_hot_neighbor.jpg" alt="">
						<div class="carousel-caption">
						  <h4>My hot neighbor getting something from the shed.</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 100%; height: 100%; position: relative; top: 0; left: 0;" src="./static/img/canadian_airforce.jpg" alt="">
						<div class="carousel-caption">
						  <h4>Canada's Airforce is called the Snowbirds.</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 90%; height: 90%; position: relative; top: 0; left: 0;" src="./static/img/airforce_women.jpg" alt="">
						<div class="carousel-caption">
						  <h4>All airforce pilots in Canada are women.  These super-sexy-flygals protect our great nation.</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 100%; height: 100%; position: relative; top: 0; left: 0;" src="./static/img/pilots.jpg" alt="">
						<div class="carousel-caption">
						  <h4>Here, my ace pilot wife is training my daughter, who is now a young cadet in the airforce.</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 100%; height: 100%; position: relative; top: 0; left: 0;" src="./static/img/geforce_training.jpg" alt="">
						<div class="carousel-caption">
						  <h4>Geforce simulator is required for pilots and cadets alike to prepare for the rigors of flight.</h4>
						</div>
					  </div>				  
					  <div class="item">
						<img style="display:inline-block; width: 100%; height: 100%; position: relative; top: 0; left: 0;" src="./static/img/instrumentation.jpg" alt="">
						<div class="carousel-caption">
						  <h4>Farmville gives our women pilots multitasking skills to deal with complex instrument panels.</h4>
						</div>
					  </div>
					  <div class="item">
						<img style="display:inline-block; width: 100%; height: 100%; position: relative; top: 0; left: 0;" src="./static/img/near_miss.jpg" alt="">
						<div class="carousel-caption">
						  <h4>Unfortunately, looking super sexy is even more important to our flygals than flying. Here is a near miss that occured after Dior released its new Dior Blush.  You just can't hold the flight control stick while applying the Blush.</h4>
						</div>
					  </div>						
					  <div class="item">
						<img class="cImg" style="display:inline-block;" src="https://lh5.googleusercontent.com/-X1XVzlVezTc/TnUWAWa8DfI/AAAAAAAAAGI/DdUhvEVDTIg/s732/DSC_0262.jpg" alt="">
						<div class="carousel-caption">
						  <h4>My Family</h4>
						</div>
					  </div>
					</div>
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>
			</div>
			<div class="span4" style="text-align: center;">
			  <h2>What I Do</h2>
			  <br>
			  <span class="label label-warning">Prod Mgmt</span><span class="label label-important">Wirless System Eng</span><span class="label">Account Mgmt</span>
			  <span class="label label-inverse">Land Mobile Radio</span><span class="label label-success">Marketing Mgt</span>
			  <span class="label label-success">App Engine</span><span class="label label-warning">Python</span><span class="label label-info">Web Dev</span><span class="label label-inverse">Machine Learning</span>
			  <span class="label label-inverse">Artificial Intelligence</span><span class="label">Google Maps</span>
			  <span class="label">HTML</span><span class="label label-success">CSS</span><span class="label label-info">Android</span><span class="label">Java</span><span class="label label-important">Consulting</span><span class="label label-info">Business</span>
			  <span class="label label-warning">Guitar</span><span class="label label-inverse">Seal Clubbing</span><span class="label label-info">Dog Sledding</span>
			  <span class="label label-inverse">Fur Trading</span><span class="label label-success">Igloo Buildiing</span><span class="label label-warning">Lacross</span><span class="label">Hockey</span>
			</div>
		</div>
		<hr>
</div>

{% endblock %}