{% extends "base_blog.html" %}
{% block content %}
		<br /><br />
		<div style="text-align:center"><h1>Welcome to <a href="/wiki">Ken-eh-dian-ipedia</a></h1></div>
		<br /><br />
    <div class="container">

		<div class="wiki-list">
			<div class="wiki-title">
				<h2>
			    <div class="pull-left"><a style="color: #333;" href="/wiki/{{ wiki.key().name()}}">{{wiki.title | safe}}</a></div>
				<small class="pull-left"><a style="color: #333;" href="/wiki/_edit/{{ wiki.key().name()}}">...  edit</a></small>
				<small class="pull-right">Created on: {{ wiki.created.strftime("%a,%b,%y")}} by {{ wiki.createdby }}</small>
				</h2>
				<hr>
			</div>
			<br />
			<div class=wiki-content">{{wiki.content | safe}}</div>

		<div class="footer" style="text-align:right">{{agestr}} </div>
	</div>
	   <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'kenehdian'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
        </script>
{% endblock %}